@{
    ViewBag.Title = "Help - DataShare";
    Layout = null;
}

<h2>Help with viewing our data</h2>

<h3>Sorting the data</h3>
<p>Clicking any column heading allows you sort the data by that column.  Click the heading a second time to reverse the sort order.</p>
<p>The arrow displayed alongside a column heading indicates by which column and in which direction (ascending or descending) the data is being sorted.</p>

<h3>Add/remove columns from display</h3>
<p>Often there is more data available than is currently displayed.</p>
<p>Hover over a column heading and you’ll see a plus (+) symbol appear in the top right hand corner of the table area.  Click the plus button to see a list of all available columns, just select the ones you wish to see in that list and deselect any you don't.</p>
<p>Click the minus (-) sign to hide the list of available columns.</p>

<h3>Applying a filter</h3>
<p>Reducing the amount of data displayed to only the records you are interested in can be easily achieved by applying one or more filters.</p>
<p>Select the column you wish to filter by from the first drop down list, a condition from the second, and enter a comparison value in the final box.  Click the Filter button to apply your filter.</p>
<p>You can add additional filters by clicking the Add another filter button.</p>
<p>The clear button will remove all filters and display the full dataset set once more.</p>
<p>You can also apply a filter by clicking a value in the table that you wish to filter by.</p>

<h3>Graphical views</h3>
<p>Above the data table you will see a series of graphical view buttons.  You can use these to visualise the selected data as a column, bar, pie or line chart.</p>
<p>Any filters you have applied are maintained in the graph.</p>
<p>If the data you are viewing contains geographic information you are also able to display the data on a map.</p>


