<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DataShareContext" connectionString=""
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="D:\RedbridgeIWebApps\DataShareBeta" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UploadFilePath" value="D:\RedbridgeIWebApps\DataShareBeta_UploadedFiles" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MediaAssetFolder" value="D:\RedbridgeIWebApps\DataShareBeta\Areas\Admin\UploadedFiles" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReleaseMode" value="ReleaseToStaging" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RootURL" value="http://dsstaging" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <customErrors mode="On" xdt:Transform="Replace"/>
    <compilation debug="false" targetFramework="4.0" xdt:Transform="Replace">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>

</configuration>
