<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataSetFilesContainer" connectionString="metadata=res://*/DataContext.DataSetFiles.csdl|res://*/DataContext.DataSetFiles.ssdl|res://*/DataContext.DataSetFiles.msl;provider=System.Data.SqlClient;provider connection string';Data Source=clesql01;Initial Catalog=DataShare;Persist Security Info=True;User ID=portly;pwd=g3ntl3man;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>