@model IList<DS.Domain.Category>
@{
    ViewBag.Title = "Upload data - Admin - DataShare";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@section HeaderContent
{
<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
}

@section TitleContent
{
    Upload data
}

<div class="container_16">
   @Html.Partial("_categories", Model)
</div>

