@{
    ViewBag.Title = "Contact confirmation - DataShare";
}

@section TitleContent{
    Contact us
}
<div class="container_16">
    <div class="grid_16">
        <p class='note'>Thank you.  Your enquiry has been successfully submitted.</p>
    </div>
</div>

