<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DataShareContext" connectionString="Data Source=clesql01;Initial Catalog=DataShare;Persist Security Info=True;User ID=portly;Password=g3ntl3man;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="XmlBinding" hostNameComparisonMode="StrongWildcard" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" maxReceivedMessageSize="5000000000" maxBufferSize="500000000" maxBufferPoolSize="5000000000" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" useDefaultWebProxy="true">
					<security mode="None"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="DS.WcfService.DataShareServiceBehavior" name="DS.WcfService.DataShareService">
				<endpoint address="" binding="wsHttpBinding" contract="DS.WcfService.IDataShareService" bindingName="XmlBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DS.WcfService.DataShareServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
