<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="ErrorMessages" layout="${longdate}|${level}|${threadid}|${callsite}|${message}|${exception:format=tostring}" fileName="${basedir}/logs/${level}.log" />
    <target xsi:type="File" name="GeneralMessages" layout="${longdate}|${level}|${message}" fileName="${basedir}/logs/${level}.log" />
    <target xsi:type="File" name="LogMessages" layout="${longdate}|${level}|${message}" fileName="${basedir}/logs/Log.log" />
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="ErrorMessages" />
    <logger name="*" levels="Info,Debug,Warn,Trace" writeTo="GeneralMessages" />
    <logger name="*" minlevel="Trace" writeTo="LogMessages" />
  </rules>
</nlog>