<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataShareContext" connectionString="Data Source=clesql01;Initial Catalog=DataShare;Persist Security Info=True;User ID=portly;Password=g3ntl3man;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
     <add key="FilePath" value="C:\TeamSuite\DS\DS.WebUI\" />
    <add key="ForUnitTestReturnKey" value="ForUnitTestReturnValue"/>
    <add key="ForUnitTestIntReturnKey" value="1024"/>
    
  </appSettings>
  
</configuration>
