@model string
@{
    ViewBag.Title = "Offline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_16">
    <div class="information">@Model is currently not available </div>
</div>
